---
layout: default
---

<main class="elements-index root-index" id="content"  role="main" tabindex="-1">
  <header class="homepage-top">
    <div class="homepage-top-inner">
      <div class="welcome-block">
        <div class="inner-block floated-children">
          <div class="welcome-text">
            <div class="floated-inner-block">
              <h1>Welcome</h1>
              <!-- <h2 class="font-large">Andrew</h2> -->
            </div>
          </div>
          <!-- <div class="content-links">
            <div class="floated-inner-block content-links-inner">
              <h2>Self service tool</h2>
              <ul>
                <li><a href="">Click to order your food or buy items from DHL</a></li>

              </ul>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </header>
  <div class="site-wrapper">
    <div class="image-grid">
      <div class="grid-row">
        {% for item in site.items %}
          <div class="column-one-third">
            <div class="image-grid-item">
              <a href="{{ item.url }}">
                <img src="{{ item.thumb }}" alt="{{ item.title }}">
                <h2 class="heading-medium">{{ item.title }}</h2>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main><!-- / #content -->
