---
layout: default
---

<main role="main">
  <div id="page-container">
    <div class="grid-row">
      <!-- check to see if the data file has a submenu, and if so display it -->
      {% for item in site.data.nav %}
        {% if item.levelone != null %}
          {% if item.section == page.section %}
            {% for subcategory in item.levelone %}
              <div class="column-third">
                <a href="{{ subcategory.href }}">
                  <h2 class="heading-medium">{{ subcategory.title }}</h2>
                </a>
              </div>
            {% endfor %}
          {% endif %}
          {% endif %}
      {% endfor %}
    </div>
  </div>
</main>
